.total-price{
    width: 50%;
}
.apply-button-input{
    height: 35px;
    border-radius: 5px;
    border: 2px solid lightgrey;
}
.apply-button{
    height: 35px;
   padding: auto;
    border-radius: 5px;
    border: 0px;
    background-color: crimson;
    color: white;
}
